<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Лабораторная работа №3</title>
</head>
<body>
    <h1 class="title">Оформление текста</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et blandit mi. Aenean sollicitudin est lectus. 
        Cras nisi eros, euismod at est tempor, volutpat elementum ipsum. Mauris ac tellus accumsan, efficitur ex at, convallis risus. 
        Vestibulum nulla libero, hendrerit ut ligula et, euismod semper velit. Cras blandit purus ac urna efficitur tincidunt. 
        Aliquam in luctus ante, vel ultrices sapien. Aliquam quis ultrices orci, vitae malesuada diam. 
        Vestibulum molestie, metus ornare varius ultrices, odio eros efficitur metus, eu fermentum enim massa ut tellus. 
        Mauris posuere mauris magna, ut bibendum arcu pulvinar at. Sed viverra venenatis luctus. Vestibulum sollicitudin aliquam mattis. 
        Maecenas nunc nulla, pulvinar ac tempus quis, congue bibendum enim.</p>

    <h2 class="subtitle">Заголовок второго уровня</h2>

    <p>Nam at cursus nisl. Etiam nec imperdiet urna, scelerisque pharetra est. In hac habitasse platea dictumst. 
        Nunc varius erat lorem, quis venenatis felis rutrum sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
        Proin mollis urna orci, et feugiat odio molestie imperdiet. 
        Nam id diam quis justo venenatis gravida. Aliquam ut lorem porttitor, iaculis nisl id, placerat nulla.</p>
    
    <ul class="list">
        <li>Eat</li>
        <li>Sleep</li>
        <li>Repeat</li>
    </ul>
</body>
</html>